@font-face {
    font-family: "ARCADECLASSIC";
    src: url("fonts/ARCADECLASSIC.ttf");
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
  }

.background{
    background-image: url("images/background.png");
    height: 100vh;
    background-size:cover;
    background-position:center;
}
.titulo{
    padding-top:  200px; 
    padding-left: 500px;
}
.startbutton{
    padding-top: 50px;
    padding-left: 625px;
    display: flex;
}
.monoreal{
    display: flex;
    padding-top: 175px;
    padding-left: 500px;
}

canvas {
    display: none;
}

#botonInfo {
    display: flex;
}

.info {
    font-family: "ARCADECLASSIC";
    font-size: 25px;
    margin-left: 200px;
    flex-wrap: wrap;
    background-color: white;
}